<!-- As a heading -->
<nav class="navbar" style="background-color: black">
  <div class="container">
    <span class="navbar-brand mb-0 h1"><a href="/" class="home-link">Hack the blog</a></span>
    <a class="btn btn-primary" href="/admin" role="button">Admin</a>
  </div>
</nav>
<!-- As a heading -->
